body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--primary);
  background-color: var(--light);
  line-height: 1.5;
}

header {
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--tertiary);
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
}

header h1 {
  color: var(--tertiary);
  background-color: var(--secondary);
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size: 4vw;
  line-height: 1;
}

button {
  border-radius: 20px;
  background-color: #F89541;
  width: 80px;
}

.input {
  border-bottom: 2px solid #F89541;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Recipe container */
article {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;    
}

/* Recipe cards */
.recipe {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-color: c3c3c3;
    border-width: 2px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Recipe name format here */
.recipeTitle {
text-align: left;
text-transform: uppercase;
font-weight: bolder;
}

/* Recipe name format here */
.recipeDescription{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    justify-content: baseline;

}

/* Format for the "Ingredients" and "Steps" subtitle*/
.recipeSubtitle {
text-align: left;
text-transform: uppercase;
font-weight: bold;
}

/*Ingredient list format*/
.recipeIngredients{
    font-family: Arial, Helvetica, sans-serif;

}

/*Step list format*/
.recipeSteps{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

